

<div class="center jumbotron">
  <h1>ARRR WELCOME!</h1>
  <h3>
    Here you can find our brightest shrimps !🎓
  </h3>
  <%= link_to "Set sails!", 'corsairs/new', class: "btn btn-lg btn-primary" %>
</div>